<div class="container-fluid">
  <div class="row">
    <div class="col-12 jumbotron-nasa">
      <div class="jumbotron jumbotron-fluid jumbotron-nasa-card">
        <div class="container">
          <h2>{{"Nasa Databases"|translate}}</h2>
          <p>{{ "Nasa-Description" | translate}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="cards-nasa">
      <div class="col-12 col-md-4">
        <div class="card card-nasa" [routerLink]="['apod']">
          <img class="card-img-top" src="https://giffiles.alphacoders.com/165/16550.gif" alt="Card image cap">
          <div class="card-body">
            <p class="card-text"> {{"Apod-Description"|translate}}</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4" [routerLink]="['neows']">
        <div class="card card-nasa">
          <img class="card-img-top"
            src="https://upload.wikimedia.org/wikipedia/commons/5/5d/PIA22560-Asteroid-2017-YE5-Orbit-20180712.gif"
            alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Discover the asteroids closest to Earth with our tool. Retrieve a list of asteroids
              based on their upcoming approach dates and gain access to useful data such as asteroid diameter, distance
              from Earth, and the maximum approach date. Keep track of the celestial bodies near our planet and never
              miss an opportunity to observe them.</p>
          </div>
        </div>
      </div>
      <div [routerLink]="['mars-rovers']" class="col-12 col-md-4">
        <div class="card card-nasa">
          <img class="card-img-top" src="https://c.tenor.com/4-1ONgEFepMAAAAC/opportunity-rover.gif"
            alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Unlock the wealth of information gathered by NASA's Mars rovers with our tool. We make
              the data collected by Curiosity, Opportunity, and Spirit more readily accessible to developers, educators,
              and citizen scientists. Explore the red planet with real-time photos and data, and discover the latest
              findings from NASA's mission to Mars.</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>