<div class="container-fluid">
    <div class="row">
        <div class="col-12 jumbotron-nasa">
            <div class="jumbotron jumbotron-fluid jumbotron-nasa-card">
                <div class="container">
                  <h1 class="display-4">Fluid jumbotron</h1>
                  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius omnis culpa nesciunt, vel veritatis blanditiis quibusdam accusantium alias dicta et excepturi molestias, voluptates est a nobis atque ab illo odio.</p>
                </div>
              </div>
        </div>
    </div>
    <div class="row">
        <div class="cards-nasa">
            <div class="col-12 col-md-4">
                <div class="card card-nasa" >
                    <img class="card-img-top" src="https://giffiles.alphacoders.com/165/16550.gif" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card card-nasa" >
                    <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/5/5d/PIA22560-Asteroid-2017-YE5-Orbit-20180712.gif" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card card-nasa" >
                    <img class="card-img-top" src="https://c.tenor.com/4-1ONgEFepMAAAAC/opportunity-rover.gif" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
            </div>
        </div>

    </div>
</div>