<div class="container-fluid">
    <div class="row">
        <div class="col-12 jumbotron-nasa">
            <div class="jumbotron jumbotron-fluid jumbotron-nasa-card">
                <div class="container">
                  <h2>Random Apis</h2>
                  <p>On this menu, you can choose between three tools that allow you to retrieve Nasa's astronomy picture of the day, a list of asteroids based on the date provided, and a list of photos from Mars based on the date and rover provided. You can also export this information to excel and create beautiful charts on Power Bi, Excel, build presentations, and more.</p>
                </div>
              </div>
        </div>
    </div>
    <div class="row">
        <div class="cards-nasa">
            <div class="col-12 col-md-4" >
                <div class="card card-nasa" [routerLink]="['kepler-project']">
                    <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/c/c5/55_Cancri_e_-_PIA20068_%28animated%29.gif" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text"> Search over 1,000 exoplanets and unconfirmed "objects of interest. In this tool you just need to
                        set three parameters and get the results. All the data can be exported to excel. Want to see exoplanets? Here is the place.
                      </p>
                    </div>
                  </div>
            </div>
            <div class="col-12 col-md-4" [routerLink]="['neows']">
                <div class="card card-nasa" >
                    <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/5/5d/PIA22560-Asteroid-2017-YE5-Orbit-20180712.gif" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">Retrieve a list of Asteroids based on their closest approach date to Earth. Get usefull data as asteroid's diamiter, distance from earth, max date approach and more. Check it out what's near from the planet today! </p>
                    </div>
                  </div>
            </div>
            <div [routerLink]="['mars-rovers']" class="col-12 col-md-4">
                <div class="card card-nasa" >
                    <img class="card-img-top" src="https://c.tenor.com/4-1ONgEFepMAAAAC/opportunity-rover.gif" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">Mage data gathered by NASA's Curiosity, Opportunity, and Spirit rovers on Mars and make it more easily available to other developers, educators, and citizen scientists. Check it out real photos from Mars.</p>
                    </div>
                  </div>
            </div>
        </div>

    </div>
</div>