<div class="container-fluid">
    <div class="row">
        <div class="col-12 jumbotron-nasa">
            <div class="jumbotron jumbotron-fluid jumbotron-nasa-card">
                <div class="container">
                  <h2>Random Apis</h2>
                  <p>On this menu, you can choose between three tools that allow you to retrieve Nasa's astronomy picture of the day, a list of asteroids based on the date provided, and a list of photos from Mars based on the date and rover provided. You can also export this information to excel and create beautiful charts on Power Bi, Excel, build presentations, and more.</p>
                </div>
              </div>
        </div>
    </div>
    <div class="row">
        <div class="cards-nasa">
            <div class="col-12 col-md-4" >
                <div class="card card-nasa" [routerLink]="['kepler-project']">
                    <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/c/c5/55_Cancri_e_-_PIA20068_%28animated%29.gif" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text"> Search over 1,000 exoplanets and unconfirmed "objects of interest. In this tool you just need to
                        set three parameters and get the results. All the data can be exported to excel. Want to see exoplanets? Here is the place.
                      </p>
                    </div>
                  </div>
            </div>
            <div class="col-12 col-md-4" [routerLink]="['launches']">
                <div class="card card-nasa" >
                    <img class="card-img-top" src="https://i.pinimg.com/originals/8e/bc/08/8ebc08fead3be5448833244ca4ec24e2.gif" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">We track all orbital launches and a number of popular suborbital launches. Generally we will track all suborbital launches which aim to reach “space” or the Karman line and are live streamed, although, we will also occasionally track others by popular demand.</p>
                    </div>
                  </div>
            </div>
            <div [routerLink]="['ufo-sightings']" class="col-12 col-md-4">
                <div class="card card-nasa" >
                    <img class="card-img-top" src="https://media-cldnry.s-nbcnews.com/image/upload/t_fit-1240w,f_auto,q_auto:best/newscms/2021_20/3475469/210517-ufo-corbell-2x1-mn-1540.gif" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">Mage data gathered by NASA's Curiosity, Opportunity, and Spirit rovers on Mars and make it more easily available to other developers, educators, and citizen scientists. Check it out real photos from Mars.</p>
                    </div>
                  </div>
            </div>
        </div>

    </div>
</div>