<nav class="nav-style">
    
    <div>
        <label class="label">COSMOS STUFF</label>
    </div>
    <div>
        <ul class=" nav-submenu">
            <li (click)="navigate(1)"  class="li-nav-submenu"> menu </li>
            <li (click)="navigate(4)"  class="li-nav-submenu"> {{'ourSupporters' | translate}} </li>
            <li (click)="navigate(2)"  class="li-nav-submenu"> {{'settings' | translate}} </li>
            <li (click)="navigate(3)"  class="li-nav-submenu"> {{'contact' | translate}} </li>
            <li class="li-nav-submenu" [formGroup]="langForm">
            <select formControlName="language" class="option-bg ">
                <option  class="option-bg" *ngFor="let obj of this.display" [value]="obj.flag">
                    {{obj.name}}
                </option>
            </select>
            </li>
        </ul>
    </div>
</nav>