<div class="container-fluid">
    <div class="row">
        <div class="d-md-flex justify-content-center neows min-vh-100">
            <div *ngIf="!this.spaceCrafts" class="col-12 col-md-6 apod-content">
                <img src="../../../assets/svg/loading.svg" alt="apod nasa image">
            </div>
            <div *ngIf="this.spaceCrafts"
                class="d-flex flex-column justify-content-between col-12 col-md-8 apod-content text-center p-5">
                <div class="mars-rover-card">
                    <h5>Total Cards: {{this.spaceCrafts.length}}</h5>
                </div>
                <div *ngFor="let sc of this.spaceCrafts;let i = index">
                    <div class="card mars-rover-card">
                        <h5>Card:{{i+1}}</h5>
                        <div class="row d-flex justify-content-between">
                                <img class="card-img-top " [src]="sc.image" alt="Roscosmos Image">
                                <label *ngIf="sc.image == null || !sc.image">No image was provide</label>
                        </div>
                        <div class="card-body">
                            <button (click)="openInANewTab(sc.image)">Open in a new tab</button>
                            <h5 class="card-title">{{sc.name}}</h5>
                            <ul class="ul-cards">
                                <li>Manufacturer: {{sc.manufacturer}}</li>
                                <li>Launch Mass: {{sc.launch_mass}}</li>
                                <li>Lifetime Period: {{sc.lifetime_period}}</li>
                                <li>Orbital Period: {{sc.orbital_period}}</li>
                                <li>Coverage Diameter: {{sc.coverage_diameter}}</li>
                                <li>Power: {{sc.power}}</li>
                                <li>Launch Vehicles: {{sc.launch_vehicles}}</li>
                                <li>Orbital Inclination: {{sc.orbital_inclination}}</li>
                                <li>Accuracy: {{sc.accuracy}}</li>
                                <li>Description: {{sc.description}}</li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>