<div class="container-fluid">
    <div class="row">
        <div class="d-md-flex justify-content-center neows min-vh-100">
            <div *ngIf="this.isLoading == true" class="col-12 col-md-6 apod-content">
                <img src="../../../assets/svg/loading.svg" alt="apod nasa image">
            </div>
            <div *ngIf="this.isLoading == false"
                class="d-flex flex-column justify-content-between col-12 col-md-8 apod-content text-center p-5">
                <div class="mars-rover-card">
                    <h5>Total Cards: {{this.dragonArray.length}}</h5>
                </div>
                <div *ngFor="let dragon of this.dragonArray;let i = index">
                    <div class="card mars-rover-card">
                        <h5>Card:{{i+1}}</h5>
                        <div class="row d-flex">
                        <img class="card-img-top col-3" [src]="dragon.flickrImages[0]" alt="Card image cap">
                        <img class="card-img-top col-3" [src]="dragon.flickrImages[1]" alt="Card image cap">
                        <img class="card-img-top col-3" [src]="dragon.flickrImages[2]" alt="Card image cap">
                        <img class="card-img-top col-3" [src]="dragon.flickrImages[3]" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <!-- <h5 class="card-title">{{card.roverName}}</h5>
                            <ul class="ul-cards">
                                <li>Date: {{card.date}}</li>
                                <li>Rover Name: {{card.roverName}}</li>
                                <li>Camera Name: {{card.fullCameraName}}</li>
                                <li>Launch Date: {{card.launchDate}}</li>
                                <li>Landing Date: {{card.landingDate}}</li>
                                <li>Sol: {{card.sol}}</li>
                            </ul> -->
                            <button (click)="openInANewTab(dragon.flickrImages)">Open in a new tab</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>