<div class="container-fluid">
    <div class="row ">
        <div class="col-12 jumbotron-nasa ">
            <div class="jumbotron jumbotron-fluid jumbotron-nasa-card ">
                <div class="container">
                  <h2>SpaceX Databases</h2>
                  <p>This tool retrieves data from SpaceX API. The SpaceX API program delivers data to a website through REST protocol. All data displayed here came from the SpaceX database so as the pictures. We are working to show here all the data that this program allows, for now we are displaying around 5%. A relevant information about SpaceX is that this comapny intends to explore Mars in the future including taking humans to colonise the red planet. Probably a rocket like those below will do the job.</p>
                </div>
              </div>
        </div>
    </div>
    <div class="row">
        <div class="cards-nasa">
            <div class="col-12 col-md-4" >
                <div class="card card-nasa" [routerLink]="['historical-events']">
                    <img class="card-img-top" src="https://art.pixilart.com/198f6fdeecf1163.gif" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">On this service, you can get historical data from SpaceX such as the link to Wikipedia for each event. The description tells us more about the details making you fly through the starlink history. </p>
                    </div>
                  </div>
            </div>
            <div class="col-12 col-md-4" [routerLink]="['dragons']">
                <div class="card card-nasa" >
                    <img class="card-img-top" src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/7f74ab81505303.5d02aa15a7ab5.gif" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">When Elon Targaryens Musk says Dracarys the SpaceX build a new Dragon Rover.
                        Okay, that's not true. 
                        However the dragons are still insane, they transport cargo from the earth to SPACE. Here you can see the details.</p>
                    </div>
                  </div>
            </div>
            <div [routerLink]="['rockets']" class="col-12 col-md-4">
                <div class="card card-nasa" >
                    <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Falcon9_rocket_family.svg" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">Dude, dudette just look at these rockets. The SpaceX provide us information and pictures about their main projects. If you like rockets and history certainly this tool is for you. Click and check it out!</p>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>