<div class="container-fluid">
    <div class="row ">
        <div class="col-12 jumbotron-nasa ">
            <div class="jumbotron jumbotron-fluid jumbotron-nasa-card ">
                <div class="container">
                  <h2>{{"SpaceXDatabases"|translate}}</h2>
                  <p>{{"SpaceXDescription"|translate}}</p>
                </div>
              </div>
        </div>
    </div>
    <div class="row">
        <div class="cards-nasa">
            <div class="col-12 col-md-4" >
                <div class="card card-nasa" [routerLink]="['historical-events']">
                    <img class="card-img-top" src="https://art.pixilart.com/198f6fdeecf1163.gif" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">{{"SpaceXHistorical"|translate}}</p>
                    </div>
                  </div>
            </div>
            <div class="col-12 col-md-4" [routerLink]="['dragons']">
                <div class="card card-nasa" >
                    <img class="card-img-top" src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/7f74ab81505303.5d02aa15a7ab5.gif" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">{{"SpaceXDragons"|translate}}</p>
                    </div>
                  </div>
            </div>
            <div [routerLink]="['rockets']" class="col-12 col-md-4">
                <div class="card card-nasa" >
                    <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Falcon9_rocket_family.svg" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">{{"SpaceXRockets"|translate}}</p>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>