<div class="container-fluid">
    <div class="row">
        <div class="d-md-flex justify-content-center mars-rovers min-vh-100">

            <div *ngIf="this.isLoading == false && this.roverPhotosArray.length == 0"
                class="col-12 col-md-6 apod-content">
                <img src="../../../assets/svg/mars-rover.svg" alt="apod nasa image">
            </div>

            <form *ngIf="this.isLoading == false && this.roverPhotosArray.length == 0" [formGroup]="roversForm"
                class="d-flex flex-column  col-12 col-md-6 apod-content text-center p-5">
                <label>{{"Date"|translate}}</label>
                <input formControlName="date" placeholder="start date" type="date">
                <label>{{"Rover"|translate}}</label>
                <select formControlName="rover" *ngIf="this.rovers.length > 0" class="mars-select">
                    <option *ngFor="let obj of this.rovers" [value]="obj.name">{{obj.name}}</option>
                </select>
                <label>{{"Display"|translate}}</label>
                <select formControlName="display" *ngIf="this.display.length > 0" class="mars-select">
                    <option *ngFor="let obj of this.display" [value]="obj.name">{{obj.name}}</option>
                </select>
                
                <button (click)="search()" class="p-2 mt-3">{{"Search"|translate}}</button>
            </form>

            <div *ngIf="this.isLoading == true" class="col-12 col-md-6 apod-content">
                <img src="../../../assets/svg/loading.svg" alt="loading image">
            </div>

            <div *ngIf="this.isLoading == false && this.roverPhotosArray.length > 0 && this.displayOption == false"
                class="d-flex flex-column justify-content-between col-12 col-md-8 apod-content text-center p-5">
                <div class="mars-rover-card">
                    <h5>{{"TotalCards"|translate}}: {{this.roverPhotosArray.length}}</h5>
                    <button (click)="changeFlag()">{{"Back"|translate}}</button>
                </div>
                <div *ngFor="let card of this.roverPhotosArray;let i = index">
                    <div class="card mars-rover-card">
                        <h5>{{"Card"|translate}}:{{i+1}}</h5>
                        <img class="card-img-top" [src]="card.imgSrc" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{card.roverName}}</h5>
                            <ul class="ul-cards">
                                <li>{{"Date"|translate}}: {{card.date}}</li>
                                <li>{{"RoverName"|translate}}: {{card.roverName}}</li>
                                <li>{{"CameraName"|translate}}: {{card.fullCameraName}}</li>
                                <li>{{"LaunchDate"|translate}}: {{card.launchDate}}</li>
                                <li>{{"LandingDate"|translate}}: {{card.landingDate}}</li>
                                <li>{{"Sol"|translate}}: {{card.sol}}</li>
                            </ul>
                            <button (click)="openInANewTab(card.imgSrc)">{{"OpenNewTab"|translate}}</button>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="this.isLoading == false && this.roverPhotosArray.length > 0 && this.displayOption == true"
                class="d-flex flex-column justify-content-between col-12 apod-content text-center p-5 table-responsive">
                <div class="d-flex flex-column col-12 col-md-3">
                    <button (click)="changeFlag()">{{"Back"|translate}}</button>
                    <button (click)="exportToExcel()" class="mt-2">{{"ExportToExcel"|translate}}</button>
                </div>
                <table id="excel-table" class="table neows-table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Date</th>
                            <th scope="col">Rover Name</th>
                            <th scope="col">Camera Name</th>
                            <th scope="col">Launch Date</th>
                            <th scope="col">Landing Date</th>
                            <th scope="col">Sol</th>
                            <th scope="col">url</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let rover of this.roverPhotosArray; let i = index">
                            <th scope="row">{{i+1}}</th>
                            <td>{{this.rover.date}}</td>
                            <td>{{this.rover.roverName}}</td>
                            <td>{{this.rover.fullCameraName}}</td>
                            <td>{{this.rover.launchDate}}</td>
                            <td>{{this.rover.landingDate}}</td>
                            <td>{{this.rover.sol}}</td>
                            <td>{{this.rover.imgSrc}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </div>

        </div>
    </div>