<div class="container-fluid">
    <div class="row">
        <div class="d-md-flex justify-content-center neows min-vh-100">
            <div *ngIf="!this.spaceTugs" class="col-12 col-md-6 apod-content">
                <img src="../../../assets/svg/loading.svg" alt="apod nasa image">
            </div>
            <div *ngIf="this.spaceTugs"
                class="d-flex flex-column justify-content-between col-12 col-md-8 apod-content text-center p-5">
                <div class="mars-rover-card">
                    <h5>Total Cards: {{this.spaceTugs.length}}</h5>
                </div>
                <div *ngFor="let st of this.spaceTugs;let i = index">
                    <div class="card mars-rover-card">
                        <h5>Card:{{i+1}}</h5>
                        <div class="row d-flex justify-content-between">
                                <img class="card-img-top " [src]="st.image" alt="Roscosmos Image">
                                <label *ngIf="st.image == null || !st.image">No image was provide</label>
                        </div>
                        <div class="card-body">
                            <button (click)="openInANewTab(st.image)">Open in a new tab</button>
                            <h5 class="card-title">{{st.name}}</h5>
                            <ul class="ul-cards">
                                <li>Diameter: {{st.diameter}}</li>
                                <li>Engine Thrust: {{st.engine_thrust}}</li>
                                <li>First Launch Date: {{st.first_launch_date}}</li>
                                <li>Fuel Supply: {{st.fuel_supply}}</li>
                                <li>Fuel Type: {{st.fuel_type}}</li>
                                <li>Length: {{st.length}}</li>
                                <li>Manufacturer: {{st.manufacturer}}</li>
                                <li>no Flights: {{st.no_flights}}</li>
                                <li>no Inclusions: {{st.no_inclusions}}</li>
                                <li>Start Mass: {{st.start_mass}}</li>
                                <li>Description: {{st.description}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>