<div class="container-fluid">
    <div class="row">
        <div class="col-12 jumbotron-nasa">
            <div class="jumbotron jumbotron-fluid jumbotron-nasa-card">
                <div class="container">
                  <h2>Roscosmos Data</h2>
                  <p>Due to the war in Ukraine, we have limited information from ROSCOSMOS databases. The information available is written in Russian and came from a few times before the war started. As soon as the conflict ends we will provide more data from Roscosmos.</p>
                </div>
              </div>
        </div>
    </div>
    <div class="row">
        <div class="cards-nasa">
            <div class="col-12 col-md-4" >
                <div class="card card-nasa" [routerLink]="['spaceTugs']">
                    <img class="card-img-top" src="https://www.laspace.ru/upload/medialibrary/d59/d592834e7deee47908a07aef3a835a14.jpg" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text"> This tool provides information about some spacetugs used by the Russian space program. It is possible to receive detailed information about these machines using this tool. Some data may be missing like descriptions and photos.</p>
                    </div>
                  </div>
            </div>
            <div class="col-12 col-md-4" [routerLink]="['launchPads']">
                <div class="card card-nasa" >
                    <img class="card-img-top" src="https://s0.rbk.ru/v6_top_pics/media/img/4/66/755365687677664.jpeg" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">This tool provides information about some launchpads used by the Russian space program. It is possible to receive detailed information about these machines using this tool. Some data may be missing like descriptions and photos.</p>
                    </div>
                  </div>
            </div>
            <div [routerLink]="['spaceCrafts']" class="col-12 col-md-4">
                <div class="card card-nasa" >
                    <img class="card-img-top" src="https://cs7.pikabu.ru/post_img/big/2019/04/15/12/1555361205124047151.jpg" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">This tool provides information about some spacecrafts used by the Russian space program. It is possible to receive detailed information about these machines using this tool. Some data may be missing like descriptions and photos.</p>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>