<div class="container-fluid">
    <div class="row">
        <div class="d-md-flex justify-content-center mars-rovers min-vh-100">
            <div class="col-12 col-md-6 apod-content d-flex align-items-center">
                <img src="../../assets/svg/supportUs.svg" alt="apod nasa image">
            </div>
            <div class="col-12 col-md-6 apod-content d-flex align-items-center">
                <div class="d-flex flex-column">
                    <h5>Why support this project?</h5>
                    <p>Hi, if you help this project you will be helping a developer that has built all these tools alone. Currently, this site does not have a sponsor, so all the host, development, and maintenance costs are paid without any return. Any support helps us to keep building this tool to deliver free information about the COSMOS =D 
                    </p>
                    <h1>Paypal: </h1>
                    <h1>Pix: </h1>
                </div>
            </div>
        </div>
    </div>
</div>