<div class="container-fluid">
    <div class="row">
        <div class="d-md-flex align-items-center justify-content-center apod">
            <div *ngIf="this.apodData" class="col-12 col-md-6 apod-content">
                <h1>{{this.apodData.title}}</h1>
                <p>
                    {{this.apodData.explanation}}
                </p>
            </div>
            <div class="col-12 col-md-6 text-center">
                <img class="img-fluid apod-img" [src]="this.apodData.hdurl" alt="Apod image">
            </div>
        </div>
    </div>
</div>