/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Anton&family=DotGothic16&family=Montserrat+Alternates:wght@100;400&family=Montserrat:ital,wght@0,100;1,100&family=Noto+Sans:wght@400;600&family=Space+Grotesk:wght@300;400;700&family=Trispace:wght@800&display=swap');

:root {
    --dark: #000000;
    --dark-purple: #150050;
    --soft-purple: #3F0071;
    --screaming-purple: #610094;
}

* {
    font-family: 'Anton', sans-serif;
    font-family: 'DotGothic16', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
    font-family: 'Trispace', sans-serif;
}

body {
    padding: 0px;
    margin: 0px;
}


/**********************************************************************************************************************************************************
general style
*****************************************************************************************************************************************/
button,.message {
    background-color: var(--screaming-purple);
    color: var(--dark);
    border-style: none;
}

button,.message:hover {
    background-color: var(--dark-purple);
    cursor: pointer;
}

h3 {
    color: var(--screaming-purple);
}

iframe {
    height: 500px;
    width: 700px;
}

.checkBox{
    display: flex!important;
    float: left!important;
}

@media screen and (max-width: 992px) {
    iframe {
        height: 200px;
        width: 300px;
    }
}

/**********************************************************************************************************************************************************
general style
*****************************************************************************************************************************************/

/**********************************************************************************************************************************************************
nav style
*****************************************************************************************************************************************/

.nav-style {
    background-color: var(--dark);
    color: var(--screaming-purple);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-submenu {
    list-style-type: none;
    display: flex;
}

.li-nav-submenu {
    margin-left: 1rem;
    cursor: pointer;
    margin-top: 1rem;
}

.li-nav-submenu:hover {
    color: var(--soft-purple);
}

.label {
    font-size: 200%;
}

@media screen and (max-width: 992px) {
    .label {
        font-size: 100%;
        margin-left: 1rem;
    }

    .nav-submenu {
        flex-direction: column;
    }
}


/**********************************************************************************************************************************************************
nav style
*****************************************************************************************************************************************/
/**********************************************************************************************************************************************************
footer style
*****************************************************************************************************************************************/
.footer {
    background-color: var(--dark);
    color: var(--screaming-purple);
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}



/**********************************************************************************************************************************************************
footer style
*****************************************************************************************************************************************/
/**********************************************************************************************************************************************************
home style
*****************************************************************************************************************************************/
.home {
    background-color: var(--dark-purple);
}

.home-img-astronaut {
    width: 100%;
}

.home-card {
    cursor: pointer;
    background-color: var(--dark) !important;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.home-card:hover {
    opacity: 0.5;
}

.home-p,
.home-title-card {
    color: var(--screaming-purple);
}

/**********************************************************************************************************************************************************
home style
*****************************************************************************************************************************************/
/**********************************************************************************************************************************************************
nasa style
*****************************************************************************************************************************************/
.jumbotron-nasa {
    background-color: var(--dark-purple);
    margin-top: 2rem;
}

.jumbotron-nasa-card {
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--dark);
    border-radius: 1rem;
}

.jumbotron-nasa,
h1,
p {
    color: var(--screaming-purple) !important;

}

.cards-nasa {
    display: flex;
    justify-content: space-between;
    background-color: var(--dark-purple);
}

.card-nasa {
    background-color: var(--dark) !important;
    margin-top: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
}


.card-nasa:hover {
    opacity: 0.5;
}

.card-nasa p {
    color: var(--screaming-purple) !important;
}

.card-nasa img {
    height: 15rem !important;
}

@media screen and (max-width: 992px) {
    .cards-nasa {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: var(--dark-purple);
    }
}


/**********************************************************************************************************************************************************
nasa style
*****************************************************************************************************************************************/
/**********************************************************************************************************************************************************
apod nasa style
*****************************************************************************************************************************************/
.apod {
    background-color: var(--dark-purple);

}

.apod-content {
    background-color: var(--dark);
    margin-top: 1rem;
}

.apod-img {
    width: 80%;
}

/**********************************************************************************************************************************************************
apod nasa style
*****************************************************************************************************************************************/

/**********************************************************************************************************************************************************
neows nasa style
*****************************************************************************************************************************************/
.neows {
    background-color: var(--dark-purple);
}

.neows label {
    color: var(--screaming-purple);
}

.neows-table {
    background-color: var(--dark);
    color: var(--screaming-purple) !important;
}

/**********************************************************************************************************************************************************
neows nasa style
*****************************************************************************************************************************************/
/**********************************************************************************************************************************************************
mars-rovers nasa style
*****************************************************************************************************************************************/
.mars-rovers {
    background-color: var(--dark-purple);
}

.mars-rovers label {
    color: var(--screaming-purple);
}

.mars-select {
    height: 2rem;
}

.mars-rover-card {
    background-color: var(--dark) !important;
    margin-top: 2rem;
}

.mars-rover-card h5 {
    color: var(--screaming-purple);
}

.mars-rover-card button {
    margin-right: 1rem;
}

.ul-cards li {
    color: var(--screaming-purple);
}

/**********************************************************************************************************************************************************
mars-rovers nasa style
*****************************************************************************************************************************************/
/**********************************************************************************************************************************************************
random-apis style
*****************************************************************************************************************************************/
.table-kepler tr td {
    color: var(--screaming-purple);
    padding: 2rem;
}

.table-kepler label {
    color: var(--screaming-purple);
    padding: 2rem;
}

/**********************************************************************************************************************************************************
random-apis nasa style
*****************************************************************************************************************************************/

/**********************************************************************************************************************************************************
Contact form
*****************************************************************************************************************************************/

.contact-form{
    padding: 1rem;
}

/**********************************************************************************************************************************************************
contact form
*****************************************************************************************************************************************/
