<div class="container-fluid home">
    <div class="row">
        <div class="d-md-flex">
            <div class="col-12 col-md-6">
                <div [routerLink]="['nasa']" class="card home-card mb-3">
                    <div class="d-flex">
                        <img class="card-img-top w-25"
                            src="https://c.tenor.com/YzHxHUCGBtgAAAAC/nasa-national-aeronautics-and-space-administration.gif"
                            alt="Card image cap">
                        <img class="card-img-top w-25"
                            src="https://www.nasa.gov/sites/default/files/thumbnails/image/astronaut_thumbs-up.gif"
                            alt="Card image cap">
                        <img class="card-img-top w-25" src="https://giffiles.alphacoders.com/576/57698.gif"
                            alt="Card image cap">
                        <img class="card-img-top w-25" src="https://scitechdaily.com/images/Mars-Zoom.gif"
                            alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title home-title-card">Nasa Data</h5>
                        <p class="card-text home-p">The National Aeronautics and Space Administration is an independent agency of the US federal government responsible for the civil space program, aeronautics research, and space research.</p>
                        <p class="card-text"><small class="text-muted">Daily Updated</small></p>
                    </div>
                </div>

                <div [routerLink]="['spaceX']" class="card home-card mb-3">
                    <div class="d-flex">
                        <img class="card-img-top w-25"
                            src="https://c.tenor.com/2GwU7qfga8wAAAAd/space-x.gif"
                            alt="Card image cap">
                        <img class="card-img-top w-25"
                            src="https://c.tenor.com/n3M6GX3Bz_oAAAAd/spacex.gif"
                            alt="Card image cap">
                        <img class="card-img-top w-25" src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/7f74ab81505303.5d02aa15a7ab5.gif"
                            alt="Card image cap">
                        <img class="card-img-top w-25" src="https://i.pinimg.com/originals/d8/4a/0a/d84a0a2eb9104e32e2326003020a3d75.gif"
                            alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title home-title-card">SpaceX Data</h5>
                        <p class="card-text home-p">The State Space Corporation "Roscosmos", commonly known simply as Roscosmos (Russian: Роскосмос), is a state corporation of the Russian Federation responsible for space flights, cosmonautics programs, and aerospace research.</p>
                        <p class="card-text"><small class="text-muted">Daily Updated</small></p>
                    </div>
                </div>

                <div [routerLink]="['random-apis']" class="card home-card mb-3">
                    <div class="d-flex">
                        <img class="card-img-top w-25"
                            src="https://gist.githubusercontent.com/patevs/b007a0e98fb216438d4cbf559fac4166/raw/88f20c9d749d756be63f22b09f3c4ac570bc5101/programming.gif"
                            alt="Card image cap">
                        <img class="card-img-top w-25"
                            src="https://media3.giphy.com/media/V4NSR1NG2p0KeJJyr5/giphy.gif?cid=e2a3cbde0qn27rniqqiyymp4c4q8py7jl6i50lc4x8yar5kq&rid=giphy.gif&ct=g"
                            alt="Card image cap">
                        <img class="card-img-top w-25" src="https://64.media.tumblr.com/6dc6884f9494116fcf683d59b5179285/tumblr_ng4cvhNeFl1qigaa4o1_500.gif"
                            alt="Card image cap">
                        <img class="card-img-top w-25" src="https://pa1.narvii.com/6647/5ae9ec2a267d0f9de30b2876e0123f8c9e882e3f_hq.gif"
                            alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title home-title-card">Random Apis</h5>
                        <p class="card-text home-p">Get data such as asteroid reports and photos from Mars directly from Roscosmos
                            databases.</p>
                        <p class="card-text"><small class="text-muted">Daily Updated</small></p>
                    </div>
                </div>

            </div>
            <div class="col-12 col-md-6">
                <img class="home-img-astronaut" src="../../assets/svg/home-astronaut.svg" alt="">
            </div>
        </div>
    </div>
</div>