
<div class="container-fluid home">
    <div class="row">
        <div class="d-md-flex col-12 justify-content-around">
            <div class="col-12 col-md-6">
                <div [routerLink]="['nasa']" class="card home-card mb-3">
                    <div class="d-flex">
                        <img class="card-img-top w-25"
                            src="https://c.tenor.com/YzHxHUCGBtgAAAAC/nasa-national-aeronautics-and-space-administration.gif"
                            alt="Card image cap">
                        <img class="card-img-top w-25"
                            src="https://www.nasa.gov/sites/default/files/thumbnails/image/astronaut_thumbs-up.gif"
                            alt="Card image cap">
                        <img class="card-img-top w-25" src="https://giffiles.alphacoders.com/576/57698.gif"
                            alt="Card image cap">
                        <img class="card-img-top w-25" src="https://scitechdaily.com/images/Mars-Zoom.gif"
                            alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title home-title-card">{{"Nasa Data" | translate}}</h5>
                        <p class="card-text home-p">{{ "This card displays real-time data from NASA databases, giving you the most up-to-date information on space weather, satellite tracking, and other space-related data. Stay informed and explore the vast expanse of our universe with NASA's live data streams." | translate}}</p>
                        <p class="card-text"><small class="text-muted">{{"Daily Updated" | translate}} </small></p>
                    </div>
                </div>

                <div [routerLink]="['spaceX']" class="card home-card mb-3">
                    <div class="d-flex">
                        <img class="card-img-top w-25" src="https://c.tenor.com/2GwU7qfga8wAAAAd/space-x.gif"
                            alt="Card image cap">
                        <img class="card-img-top w-25" src="https://c.tenor.com/n3M6GX3Bz_oAAAAd/spacex.gif"
                            alt="Card image cap">
                        <img class="card-img-top w-25"
                            src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/7f74ab81505303.5d02aa15a7ab5.gif"
                            alt="Card image cap">
                        <img class="card-img-top w-25"
                            src="https://i.pinimg.com/originals/d8/4a/0a/d84a0a2eb9104e32e2326003020a3d75.gif"
                            alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title home-title-card">{{"SpaceX Data" | translate}}</h5>
                        <p class="card-text home-p">{{"This card displays live data straight from SpaceX's databases, giving you the most up-to-date information on current and upcoming missions. From rocket launches to satellite deployments, stay informed with real-time updates from the forefront of space exploration." | translate }}</p>
                        <p class="card-text"><small class="text-muted">{{"Daily Updated" | translate}}</small></p>
                    </div>
                </div>

                <div [routerLink]="['random-apis']" class="card home-card mb-3">
                    <div class="d-flex">
                        <img class="card-img-top w-25"
                            src="https://media3.giphy.com/media/V4NSR1NG2p0KeJJyr5/giphy.gif?cid=e2a3cbde0qn27rniqqiyymp4c4q8py7jl6i50lc4x8yar5kq&rid=giphy.gif&ct=g"
                            alt="Card image cap">
                        <img class="card-img-top w-25" src="https://c.tenor.com/nxE77sPPTBgAAAAC/alien-twerk.gif"
                            alt="Card image cap">
                        <img class="card-img-top w-25"
                            src="https://pa1.narvii.com/6647/5ae9ec2a267d0f9de30b2876e0123f8c9e882e3f_hq.gif"
                            alt="Card image cap">
                        <img class="card-img-top w-25"
                            src="https://i.pinimg.com/originals/60/7d/d0/607dd0be8059d2b9ba05641c96b7da58.gif"
                            alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title home-title-card">{{"Random Apis"|translate}}</h5>
                        <p class="card-text home-p">
                            {{"This tool offers a diverse range of space-related data from various sources on the internet, curated by individuals passionate about space and science, rather than relying solely on big organizations like NASA or private companies like Starlink."|translate}}
                        </p>
                        <p class="card-text"><small class="text-muted">{{"Daily Updated" | translate}}</small></p>
                    </div>
                </div>

            </div>
            <div class="col-12 col-md-5">
                <!--Mars Photo-->
                <div class="col-12">
                    <div *ngIf="this.marsPhoto.img_src" [routerLink]="['nasa/mars-rovers']"
                        class="card mt-3 mars-rover-card text-center home-card">
                        <img class="card-img-top" [src]="this.marsPhoto.img_src" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{'Random Mars Photo'|translate}}</h5>
                            <ul class="ul-cards">
                                <li>{{'Date'|translate}}: {{randomDate}}</li>
                                <li>{{'Rover Name: Curiosity'|translate}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div *ngIf="this.marsPhoto.length == 0" class="col-12 mt-3">
                    <img src="../../../assets/svg/loading.svg" alt="">
                </div>
                <!--Mars Photo-->

                <!--closest asteroids-->
                <div [routerLink]="['nasa/neows']" *ngIf="this.asteroidArray.length > 0" class="col-12 mt-3 table-responsive home-card
                    ">
                    <h5 class="text-center">{{'Closest asteroids to earth yesterday'|translate}}</h5>
                    <table id="excel-table" class="table neows-table text-center">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">{{'Name'|translate}}</th>
                                <th scope="col">{{'Kilometers Distance'|translate}}</th>
                                <th scope="col">{{'Lunar Distance'|translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let asteroid of this.asteroidArray; let i = index">
                                <th scope="row">{{i+1}}</th>
                                <td>{{this.asteroid.name}}</td>
                                <td>{{this.asteroid.kilometersDistance}}</td>
                                <td>{{this.asteroid.lunarDistance}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div *ngIf="this.asteroidArray.length == 0" class="col-12 mt-3">
                    <img src="../../../assets/svg/loading.svg" alt="">
                </div>
                <!--closest asteroids-->

                <!--Astronaut Photo-->
                <div style="cursor: pointer;" [routerLink]="['supportUs']" class="col-12">
                    <img class="home-img-astronaut" src="../../assets/svg/home-astronaut.svg" alt="">
                </div>
                <!--Astronaut Photo-->
            </div>
        </div>
    </div>
</div>